.nav{

    height: 50px;

    background-color: gray;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.nav a{

    padding: 0px 5px;

    color: white;
    text-decoration: none;
}
.text {
    font-weight: 700;
}