.container {
    max-width: 1200px;
    padding: 5px;
    margin: auto;
}

.button {
    position: fixed;
    bottom: 50px;
    right: 50px;

    background-color: black;
    color: white;

    font-size: 40px;

    padding: 10px 20px;

    border: 0px;
    border-radius: 50%;

    cursor: pointer;
}

.button:hover {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}